<div class="container">
  <div class="col-md-10">
    <!-- Gem -->
    <app-gem *ngFor="let gem of homeGems" [gem]="gem" [cart]="cart"></app-gem>
  </div>
  <div class="col-md-2">
    <!-- Shopping Cart -->
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>My Cart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td>{{ item.name }}</td>
        </tr>
      </tbody>
      <tfoot>
        <td><strong class="pull-right">{{ cart.totalPrice | currency }}</strong></td>
      </tfoot>
    </table>
  </div>
</div>